<div class="container">
   <div class="location-form">
    <h2>Creative Excuse #<%= @excuse[:id] %></h1>
    <img src=<%= @excuse[:gif] %> alt="">
    <p><%= @excuse[:excuse] %></p>
     <div class="d-flex">
      <%= link_to "ðŸ‘ðŸ¼", location_path, {class: 'cta-btn'} %>
      <%= link_to "ðŸ‘ŽðŸ¼", creative_path, {class: 'other-btn'} %>
    </div>
  </div>
</div>
